@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: #fff;
    --primary-icon-color: #B41943;
    --primary-text-color: #161616;
    --secondary-text-color: #2B2B2B;
    --gray-color: #CCCCCC;
    --white-color-1: #EFEFEF;
    --white-color-2: #FEFEFE;
    --green-color: #008000;
    --button-font-size: 14px;
    --footer-bg-color: #D7D7D7;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--background-color);
}

.container {
    transition: padding 0.5s ease;
    padding: 0 200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;

}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    transition: display 0.5s ease;
    padding-top: 21px;
    padding-bottom: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    width: 48px;
    height: 48px;
    border-radius: 10px;
}

.navbar-links {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.navbar-link:hover {
    color: var(--primary-icon-color);
}

.navbar-text {
    font-size: 16px;
    font-weight: 500;
    color: #161616;
}

.navbar-button {
    font-size: 12px;
    color: var(--primary-icon-color);
    font-weight: bold;
    border: 2px solid var(--primary-icon-color);
    border-radius: 20px;
    width: 158px;
    height: 39px;
}

.hero {
    transition: height 0.5s ease;
    position: relative;
    height: 514px;
    width: 100%;
    margin: 0 auto;

}

.hero-img {
    transition: height 0.5s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-box {
    transition: height 0.5s ease;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: 1;
}

.hero-container {
    transition: padding 0.5s ease;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: start;
    z-index: 9999;
    padding-left: 78px;
    padding-right: 177px;
    padding-top: 89px;
    padding-bottom: 89px;
}

.hero-h1 {
    font-size: 49px;
    font-weight: bold;
    color: var(--white-color-2);
    z-index: 9999;
}

.hero-p {
    transition: width 0.5s ease;
    font-size: 17px;
    font-weight: 100;
    margin-top: 16px;
    width: 500px;
    color: var(--white-color-2);
    /* text-align: end; */
    z-index: 9999;
}




.hero-button-container {
    transition: all 0.5s ease;
    display: flex;

    gap: 25px;
    margin-top: 36px;
}

.hero-button {
    transition: all 0.5s ease;
    width: 181px;
    height: 48px;
    text-decoration: none;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 10px 6px 8px;
    background-color: var(--primary-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--white-color-2);
    z-index: 9999;
}



svg {
    width: 48px;
    height: 48px;
    background: transparent;
    color: #008000;
    z-index: 999;
}



.spotlight {
    width: 100%;
    height: 712px;
    margin: 0 auto;
}

.spotlight-container {
    padding-top: 78px;
    padding-bottom: 77.83px;
    margin: 0 auto;
}

.features {
    transition: all 0.5s ease;
    width: 1000px;

    box-shadow: 0px 2px 4px rgba(22, 22, 22, 0.6);
    /* #161616 with 60% opacity */
    padding: 35px 87px 35px 87px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.feature {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 16.6px;
}

.features-icons {
    height: 110px;
    width: 110px;
}

.features-h1 {
    color: var(--primary-text-color);
    font-size: 24px;
}

.features-p {
    font-size: 20px;
    color: var(--primary-text-color);
}

.features-container {
    display: flex;
}

.services-container {
    margin-top: 78px;
    margin-bottom: 54px;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 55px;
}

.services-h1 {
    transition: width 0.5s ease;
    color: var(--secondary-text-color);
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    width: 690px;
}

.services-p {
    font-size: 16px;
    color: var(--secondary-text-color);
    text-align: center;
    width: 194px;
}

.services-box-container {
    transition: all 0.5s ease;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20.12px;
    align-items: center;
    justify-content: space-between;

}

.services-box {
    cursor: pointer;
    width: 229.79px;
    height: 205.227px;
    background-color: var(--white-color-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    box-shadow: 0px 2px 4px rgba(22, 22, 22, 0.6);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.services-box:hover {
    scale: 1.1;

}

.what-new {
    max-width: 100%;
    height: 572px;
    margin: 0 auto;
    background-color: var(--white-color-1);
    padding: 78px 0px 78px 0px;
    padding-left: 60px;
}


.what-new-h1 {
    font-size: 36px;
    font-weight: 600;
    color: var(--primary-text-color);
}

.what-new-container {
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    /* overflow-x: hidden;   */
    gap: 62px;
    margin: 0 auto;
}

.what-new-content {
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.what-new-ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.what-new-li {
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    width: 415px;
    gap: 5px;
}

.what-new-p {
    font-size: 19px;
    color: var(--primary-text-color);
}

.what-new-container {
    display: flex;
}

.map {
    transition: all 0.5s ease;
    max-width: 100%;
    height: 789px;
    padding: 78px 0 78px 0;
    background-color: var(--background-color);
}

.map-h1 {
    font-size: 36px;
    font-weight: 600;
    color: var (--secondary-text-color);
    text-align: center;
}

.map-p {
    font-size: 20px;
    color: var(--secondary-text-color);
    font-weight: normal;
    text-align: center;
    margin-top: 33.6px;
}

.map-img {
    margin-top: 49.8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1008px;
    height: 486px
}

.map-img img {
    height: 100%;
}



.testimonial {
    transition: height 0.5s ease;
    max-width: 100%;
    height: 539px;
    padding: 78px 0 78px 0;
    background-color: var(--white-color-1);
}

.testimonial-h1 {
    transition: all 0.5s ease;
    font-size: 36px;
    font-weight: 600;
    color: var (--secondary-text-color);
    text-align: center;
    max-width: 50%;
    /* text-wrap: nowrap; */
}

.testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.carousel {

    width: 100%;
    max-width: 1000px;
    overflow: hidden;
}

.carousel-inner {

    display: flex;
    flex-wrap: nowrap;
    transform: translateX(0);
    gap: 10px;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 50%;
    box-sizing: border-box;
    width: 404px;
    height: 202px;
}

.testimonial-card {
    background: var(--background-color);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 1s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    justify-content: center;

    gap: 21px;

}

.testimonial-card:hover {
    border: 1px solid var(--primary-icon-color);
}

.user-info {
    display: flex;
    gap: 10px;
    align-items: center;

}

.user-details {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px; */
}

.testimonial-card img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.testimonial-h1 {
    font-size: 16px;
    font-weight: bold;
}

.testimonial-p {
    transition: all 0.5s ease;
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 300;
}

.rating {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.rating span {
    margin-left: 5px;
    color: gold;
}

.carousel-controls {
    margin-top: 36px;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transform: translateY(-50%);
}

.carousel-controls button {
    background: none;
    background-color: gray;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 5px;
    color: var(--background-color);
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.carousel-controls button:hover {
    color: var(--background-color);
    background-color: var(--primary-icon-color);
}


.contact-us {
    transition: all 0.5s ease;
    max-width: 100%;
    height: 685px;
    padding: 78px 0 78px 0;
    background-color: var(--background-color);
}

.contact-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.contact-us-h1 {
    transition: all 0.5s ease;
    font-size: 36px;
    font-weight: bold;
    color: var(--secondary-text-color);
}

.contact-us-p {
    transition: all 0.5s ease;
    color: var(--secondary-text-color);
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    max-width: 690px;
}

.contact-us-form-group {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.contact-us-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact-us-form-label {
    font-size: 14px;
    font-weight: bold;
}

.contact-us-form-input {
    color: var(--secondary-text-color);
    padding: 10px 12.9px 10px 12.9px;
    width: 381px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: var(--white-color-1);
}

.contact-us-form-textarea {
    color: var(--secondary-text-color);
    padding: 10px 12.9px 10px 12.9px;
    width: 381px;
    height: 80px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: var(--white-color-1);
}

.contact-us-form-button {
    max-width: 381px;
    height: 39px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: var(--primary-icon-color);
    color: var(--background-color);
    font-size: 16px;
    font-weight: bold;
}

.contact-us-box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 44px
}

.contact-us-box {
    transition: all 0.5s ease;
    cursor: pointer;
    width: 382px;
    height: 356px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 2px 4px rgba(22, 22, 22, 0.6);

}

.contact-us-box:hover {
    scale: 1.1;
}

.contact-us-box-img {
    width: 80px;
    height: 80px;

}

.contact-us-box-p {
    font-size: 16px;
    text-align: center;
    max-width: 310px;

}

.contact-us-box-link {
    color: var(--primary-icon-color);
    font-size: 20px;
    font-weight: bold;
}

.download-now {
    max-width: 100%;
    height: 284px;
    padding: 78px 0 78px 0;
    background-color: var(--white-color-1);
}

.download-now-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.download-now-h1 {
    font-size: 36px;
    font-weight: bold;
    color: var(--primary-text-color);
}

.download-now-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

.download-now-button {
    border: none;
    outline: none;
    border-radius: 24px;
    width: 165px;
    height: 48px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-icon-color);
    color: var(--background-color);
    gap: 6.39px;
    padding: 7px 12.95px 7px 8.92px;
}

.download-now-button span {
    /* text-align: center; */
    font-size: 14px;
}

.download-now-img {
    height: 28.24px;
    width: 28.24px;
}

.footer {
    max-width: 100%;
    height: 120px;
    padding: 78px 0 78px 0;
    background-color: var(--footer-bg-color);
}

.footer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.footer-logo {
    width: 48px;
    height: 48px;
    border-radius: 10px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: bold;
}

.footer-text span {
    color: var(--primary-icon-color);
}

.footer-text a {
    text-decoration: none;
    color: var(--primary-icon-color);
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px
}

.footer-links img {
    width: 20px;
    height: 20px;
}

.footer-links a {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* media queries */

@media screen and (max-width: 1200px) {
    body {
        overflow-x: hidden;
    }

    .container {
        padding: 0 100px;

    }


    .hero {
        height: auto;
    }

    .hero-img {
        width: 100%;
        height: 650px;
    }

    .hero-box {
        width: 50%;
        height: 650px;
        /* padding-bottom: 100px; */
    }

    .hero-container {
        padding-right: 100px;
    }


    .hero-p {
        width: 100%;
        z-index: 9999;
    }

    .spotlight {
        height: auto;
    }

    .spotlight-container {
        padding-top: 78px;
        padding-bottom: 77.83px;
        /* margin-bottom: 100px; */
    }

    .features {
        width: 750px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 25px;
    }

    .feature {
        gap: 7px;
    }



    .services-box-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .map {
        height: auto;
    }

    .map-img {
        width: 700px;
        height: 300px
    }

    .what-new {
        height: auto;

    }

    .what-new-container {
        flex-direction: column;
    }

    .what-new-h1 {
        text-align: center;
        font-size: 40px;
    }

    .what-new-content {
        align-items: center;
    }

    .carousel-item {
        width: 100%;
    }

    .testimonial-card {

        width: 80%;
        height: auto;
    }

    .testimonial {
        height: auto;
    }

    .carousel-controls {
        margin-top: 150px;
    }

    .footer-text {
        flex-direction: column;
    }
}

@media screen and (max-width: 900px) {
    .container {
        padding: 0 50px;
    }

    .hero {
        height: auto;
    }

    .hero-img {
        width: 100%;
        height: 500px;
    }

    .hero-box {
        width: 100%;
        height: 500px;
        /* padding-bottom: 100px; */
    }

    .hero-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding-right: 100px; */
    }

    .hero-h1 {
        text-align: center;
    }

    .hero-p {
        text-align: center;
        width: 100%;
        z-index: 9999;
    }

    .hero-button-container {
        margin-left: 0;
        justify-content: center;
    }





    .spotlight-container {
        padding-top: 78px;
        padding-bottom: 77.83px;
        margin-left: 0;
        margin: 0 auto;
    }

    .features {
        width: 550px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 25px;
    }

    .features-icons {
        height: 80px;
        width: 80px;
    }

    .features-h1 {
        font-size: 20px;
    }

    .features-p {
        font-size: 10px;
    }

    .feature {
        gap: 5px;
    }


    .services-box-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .what-new-container {
        margin-left: 0;
        margin: 0 auto;
    }

    .map-img {
        width: 500px;
        height: 300px
    }

    .testimonial {
        height: auto;
    }

    .testimonial-h1 {
        font-size: 18px;
    }



    .testimonial-p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
    }

    .contact-us {
        height: auto;
    }

    .contact-us-box-container {
        flex-direction: column-reverse;

    }

    .testimonial-h1 {
        text-align: center;
        max-width: 100%;
    }

    .carousel-controls {
        margin-top: 30px;
    }

    .testimonial-h1 {
        font-size: 18px;
    }

    .testimonial-p {
        font-size: 15px;
    }


    .footer-text {
        flex-direction: column;
    }

    .footer-links {
        flex-direction: column;
    }
}

@media screen and (max-width: 667px) {
    .container {
        padding: 0 10px;
    }

    .navbar-links {
        display: none;
    }

    .hero-container {
        width: 100%;
        padding: 78px 10px;
    }

    .hero {
        height: auto;
    }

    .hero-h1 {
        font-size: 40px;
    }

    .hero-p {
        font-size: 14px;
    }

    .hero-button-container {
        flex-direction: column;
    }

    .hero-button {
        width: 100%;
        gap: 10px;
        padding: 2px 10px;
        font-weight: normal;
    }

    .spotlight-container {
        padding-top: 78px;
        padding-bottom: 77.83px;
        margin-left: 0;
        margin: 0 auto;
    }


    .features {
        width: 400px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 25px;
    }

    .features-icons {
        height: 50px;
        width: 50px;
    }

    .features-h1 {
        font-size: 18px;
    }

    .features-p {
        font-size: 9px;
    }

    .feature {
        gap: 5px;
    }

    .services-box-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .what-new-container {
        max-width: 80%;
    }

    .what-new-img {
        width: 300px;
        height: 250px;
    }

    .what-new-content {
        width: 100%;
    }


    .what-new-h1 {
        font-size: 30px;
        font-weight: bold;
    }

    .what-new-p {
        font-size: 10px;
        font-weight: 300;
    }

    .what-new-li {
        font-size: 15px;

    }

    .services-h1 {
        width: 400px;
    }



    .map-img img {
        width: 300px;
        height: 150px
    }

    .footer {
        height: auto;
    }

    .footer-box {
        flex-direction: column;
    }

    .footer-text {
        text-align: center;
    }
}

@media screen and (max-width: 430px) {
    .container {
        padding: 0 10px;
    }

    .navbar-links {
        display: none;
    }

    .hero-container {
        padding: 78px 10px;
        height: auto;
        width: 100%;
    }

    .hero-h1 {
        width: 100%;
    }

    .hero-button img {

        width: 20%;
        height: 20%;
    }



    .hero-button {
        width: 80%;
        height: 50px;
        font-size: 12px;
        padding: 5px 0;
    }

    .hero-button img {
        width: 40px;
        height: 40px;
    }

    .hero-button-container {
        flex-direction: column;
        gap: 15px;
    }

    .features {
        margin-top: 80px;
        width: 350px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 5px;
        padding-right: 25px;
    }

    .features-icons {
        height: 50px;
        width: 50px;
    }

    .features-h1 {
        font-size: 15px;
    }

    .features-p {
        font-size: 7px;
    }

    .feature {
        gap: 5px;
    }

    .map-img img {
        width: 200px;
        height: 150px
    }

    .services-box-container {
        grid-template-columns: repeat(1, 1fr);
    }


    .what-new-li {
        width: 100%;
    }

    .contact-us-box-container {
        width: 400px;
    }

    .contact-us-form-input {
        width: 300px;
    }

    .contact-us-box-img {
        width: 80px;
        height: 80px;
    }

    .contact-us-box {
        width: 250px;
        height: 250px;
    }

    .contact-us-box-p {
        font-size: 12px;
    }

    .contact-us-box-link {
        font-size: 12px;
    }

    .download-now-h1 {
        text-align: center;
        font-size: 30px;
    }

    .download-now-button-container {
        flex-direction: column;
    }

}